body {
	background: #eee;
}

.content_wrapper {
	color: #25343F;
	position: absolute;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}

.navbar {
	padding: 0;
}

.content {
	width: 100%;
	margin: auto;
}

.content img {
	border: 1px solid #ccc;
}

.col-centered {
    margin: auto;
}

.footer {
    text-align: right;
}

.right-panel {
	position: relative;
	max-height: 500px;
	overflow: scroll;
	padding-right: 50px;
}

.social-icons {
	padding: 10px;
}

.social-icons a[href^="mailto"],
.social-icons a:visited {
	color: #333;
}