/*
fcaa67
b0413e
ffffc7
548687
473335
*/
:root {
	--main_bg_color: #eee;
	--main_font_size: 12pt;
	--main_font_color: #473335;
	--main_header_color: #b0413e;
	--main_link_color: #548687;
	font-size: var(--main_font_size);
}

html, body {
	background: var(--main_bg_color);
	overflow-x: hidden;
	font-family: 'Fira Sans', sans-serif;
}


/* top_navbar */
.top_navbar {
	font-size:;
}

.top_navbar ul {
	list-style-type: none;
	padding: 0;
}

.top_navbar ul li {
	display: inline-block;
}

.t_navbar_link:link,
.t_navbar_link:visited {
	color: var(--main_link_color);
	padding: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}


/* left_col */
.left_col {
	padding-left: 2rem;
}

/* right_col */
.right_col {
}

.right_col h1 {
	font-weight: bold;
}

div {
	color: var(--main_font_color);
}

h1 {
	color: var(--main_header_color);
}